<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'housingbook/style.css' %}">
    <title>{% block title %}GreenHB{% endblock %}</title>
</head>

<body>
    <div id="header">
        <a href="{% url 'index' %}"><img src="{% static 'housingbook/images/GREENHB_logo_big.png' %}" /></a>
    </div>
    <div id="navigation">
        {% block navigation %}
        <ul>
            <li><a href="{% url 'index' %}">Start</a></li>
            <li><a href="{% url 'my_apartment' %}">My apartment</a></li>
            {% if user.is_staff %}
                <li><a href="{% url 'op_overview' %}">Operator overview</a></li>
                <li><a href="/admin">Administration</a></li>
            {% endif %}
        </ul>
        <li>
            {% if user.is_authenticated %}
                <a href="/accounts/logout/">Logout</a>
            {% else %}
                <a href="/accounts/login/">Login</a>
            {% endif %}
         </li>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <a href="{% url 'privacy' %}">Privacy</a>
    </div>
</body>
</html>